@model IEnumerable<Entities.News>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="text-center">Bizden Haberler</h2>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">

                <img src="/Img/@item.Image" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                <h2>@item.Name</h2>
                <p>@item.Content</p>
                <p><a class="btn btn-secondary" href="/news/detail/@item.Id">Detayını gör »</a></p>
            </div>
        }

    </div>
</div>